p {
    color: red;
    front-size: 20px;
},
td {
    color: purple;
},
span {
    color: green;
    front-size: 28px;
},
#deus {
    color: orange;
};
.page-header {
    color: violet;
    front-size: 30px;
}